<% if user_signed_in? %>

<h1> Logged in! </h1>


#% unless user_signed_in? %> 


<% else %>

<div class="hero-unit">
	<h1>Welcome to the Pins App!</h1>

	<p>
		This is probably my home page if you are seeing it
		<%= link_to "Google", "http://google.com" %>

	</p>

	<p>
		This is a new page!
	</p>
	<p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</div>


<% end %>
