<% if user_signed_in? %>

<h1> Welcome to GREE Meme Gen, <%= current_user.name %> </h1>

<p>
Enjoy some memes, vote on your favorites, write some comments and create your own!
	
</p>


<!-- % unless user_signed_in? %>  -->

<% else %>

<div class="hero-unit">
	<h1>GREE Meme Gen</h1>

	<p>
		Oh My God, Have you heard of this amazing app??? It's  amazing!!! 
	<p>
		Sign up right now... RIGHT NOW! You can create all kinds of memes for GREE!
	</p>

	<p>
		<img src = "http://i.imgur.com/yyEaMW0.jpg" /> 
	</p>
	<p>
		Ram says do it!
	</p>
	<p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>

</div>


<% end %>
