
<div id="containerdiv">
    <img src="http://power.itp.ac.cn/~jmyang/funny/fun4.jpg">


    <div >This is my div</div>
    <div id="topdiv"> 
    	This is the super big top text more and more yeaaaahhhhh
    </div>
    <div id="bottomdiv"> 
    	Bottom text
    </div>

    
</div>