
<div id="container">
    <img src="http://power.itp.ac.cn/~jmyang/funny/fun4.jpg">


    <div >This is my div</div>
    <div id="top_show"> 
    	This is the super big top text more and more yeaaaahhhhh
    </div>
    <div id="bottom_show"> 
    	Bottom text
    </div>

    
</div>