<div class="hero-unit">
	<h1>This is my Harrison Shih page</h1>

	<p>
		This is probably my home page if you are seeing it
		<%= link_to "Google", "http://google.com" %>

	</p>

	<p>
		This is a new page!
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>
