// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
   position: relative;
}

#top_thumbnail {
   position: absolute;
   top: 5px;
   color: white;
   font-size: 17px;
   text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
   max-width: 600px;
   line-height: 18px;
   width: 100%;
   text-align: center;

}

#bottom_thumbnail {
   position: absolute;
   bottom: 5px;
   color: white;
   font-size: 17px;
   text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
   max-width: 600px;
   line-height: 18px;
   width: 100%;
   text-align: center;

}

#top_show {
   position: absolute;
   top: 5px;
   color: white;
   font-size: 40px;
   text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
   line-height: 41px;
   margin: 0 auto;
   width: 100%;
   text-align: center;
}

#bottom_show {
   position: absolute;
   bottom: 5px;
   color: white;
   font-size: 40px;
   text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
   line-height: 41px;
   width: 100%;
   text-align: center;
}