// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
   position: relative;
}

#top_thumbnail {
   position: absolute;
   top: 5px;
   left: 5px; 
   color: white;
   font-size: 12px;
   text-shadow:
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;  
   max-width: 600px;
   line-height: 13px;

}

#bottom_thumbnail {
   position: absolute;
   bottom: 5px;
   left: 5px; 
   color: white;
   font-size: 12px;
   text-shadow:
   -2px -2px 0 #000,
   2px -2px 0 #000,
   -2px 2px 0 #000,
   2px 2px 0 #000;  
   max-width: 600px;
   line-height: 13px;
}

#top_show {
   position: absolute;
   top: 10px;
   left: 10px; 
   color: white;
   font-size: 30px;
   text-shadow:
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;  
   line-height: 32px;

}

#bottom_show {
   position: absolute;
   bottom: 10px;
   left: 10px; 
   color: white;
   font-size: 30px;
   text-shadow:
   -2px -2px 0 #000,
   2px -2px 0 #000,
   -2px 2px 0 #000,
   2px 2px 0 #000;  
   line-height: 32px;
}