/* $baseFontFamily: Oxygen;
@import url(http://fonts.googleapis/`ss?family=Oxygen);
*/

$btnPrimaryBackground: green;
$navbarBackgroundHighlight: white;
$navbarBackground: white;


@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(none !important);
}

.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}

/* Required for jQuery Masonry */

.well {
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #444;
}


.box {
    margin: 5px;
    padding: 5px;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #444;
    width: 214px;
}

.box img {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.description {
    margin: 10px 0 5px;
}

.user_name {
    color: red;
    font-weight: bold;
}

#gallery {
    position: relative;
    padding: 1em 0;
    }

#gallery h2 {
    margin: 0;
    border-bottom: 1px solid #666;
}


#gallery #main {
    width: 100%;
    margin: 0;
    padding: 1em 0;
    list-style: none;
    padding-left: 10px;
}


#gallery #main li {
    float: left;
    margin: 0 10px 0 0;
}

#gallery #main li img {
    display: block;
    height: 250px;
    margin: 0 0 0 0;
}

#gallery #main li p.desc {
    font-weight: bold;
    font-size: 14px;
}